<!DOCTYPE html>
<html>
<head>
  <script type='text/javascript' src='../javascripts/script.js'></script>
  <script type='text/javascript' src='../javascripts/main.js'></script>
  <link href='../stylesheets/main.css' rel='stylesheet'>
</head>
<body>
  <div class='header'>
    <h2>Happy Fathers Day</h2>
    <p> Although I can't be there with you in person to celebrate Father's Day, I want to let you know that I am thinking of you! Below I have posted a couple pictures (along with a lesson learned) that brought a smile to my face. Hopefully they have a similar effect on you, enjoy and Happy Fathers Day.<br><b>Your son, Ethan.</b>
    <br>
    <br>
    (Click a picture to reveal a life-lesson you taught me)
    </p>
  </div>
  <div class='container'>
    <div class='picture' id='top-pic'>
      <img id='floating' width='100%' src="http://i.imgur.com/hWyOdrX.jpg" style="float: left;">
    </div>
    <div class='caption-container'>
      <p class='top-pic'>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
    </div>
    <div class='please-work'>
      <div class='picture' id='left-pic'>
        <img width='50%' src="http://i.imgur.com/FLqyZJ3.jpg" style="float: left;">
      </div>
      <div class='picture' id='right-pic'>
        <img width='50%' src="http://i.imgur.com/3PX3eQf.jpg" style="float: right;">
      </div>
    </div>
    <div class='caption-container'>
      <p class='right-pic'>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
      <p class='left-pic'>has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
    </div>
    <div class='picture'id='bottom-pic'>
      <img id='sailing' width='100%' src="https://scontent-b-iad.xx.fbcdn.net/hphotos-xaf1/t31.0-8/240217_2049791613029_7318508_o.jpg" style="float: right;">
    </div>
    <div class='caption-container'>
      <p class='bottom-pic'>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
    </div>
    <div class='please-work'>
      <div class='picture' id='bottom-left-pic'>
        <img width='50%' src="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-xfa1/t31.0-8/194069_4590969100878_1689809932_o.jpg" style="float: left;">
      </div>
      <div class='picture' id='bottom-right-pic'>
        <img width='50%' src="https://scontent-a-lga.xx.fbcdn.net/hphotos-ash2/t31.0-8/170642_1748555002302_7258849_o.jpg" style="float: right;">
      </div>
      <div class='caption-container'>
        <p class='bottom-right-pic'>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
        <p class='bottom-left-pic'>has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
      </div>
    </div>
    <div class='picture'id='footer-pic'>
      <img id='HandE' width='100%' src="http://i.imgur.com/HDSnryA.jpg" style="float: right;">
    </div>
    <div class='caption-container'>
        <p class='footer-pic'>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
  </div>
</body>
</html>
