<!DOCTYPE html>
<html>
<head>
  <script type='text/javascript' src='../javascripts/script.js'></script>
  <script type='text/javascript' src='../javascripts/main.js'></script>
  <link href='http://fonts.googleapis.com/css?family=Coming+Soon' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Oleo+Script' rel='stylesheet' type='text/css'>
  <link href='../stylesheets/main.css' rel='stylesheet'>
</head>
<body>
  <div class='header'>
    <h2>Happy Fathers Day</h2>
    <p> Although I can't be there with you in person to celebrate Father's Day, I want to let you know that I am thinking of you! Below I have posted a couple pictures (along with a lesson learned) that brought a smile to my face. Hopefully they have a similar effect on you, enjoy and Happy Fathers Day.<br><b>Your son, Ethan.</b>
    <br>
    <br>
    (Click a picture to reveal a life-lesson)
    </p>
  </div>
  <div class='container'>
    <div class='picture' id='top-pic'>
      <img id='floating' width='100%' src="http://i.imgur.com/hWyOdrX.jpg" style="float: left;">
    </div>
    <div class='caption-container'>
      <p class='top-pic'>Here's to the man that taught me to <b>"always take the hard classes"</b>. That is the best advice relating to education that I have ever recieved. Even though I may not have expressed it then, I am glad that you were there in times of peril *cough* AP chemistry *cough* to help</p>
    </div>
    <div class='please-work'>
      <div class='picture' id='left-pic'>
        <img width='50%' src="http://i.imgur.com/FLqyZJ3.jpg" style="float: left;">
      </div>
      <div class='picture' id='right-pic'>
        <img width='50%' src="http://i.imgur.com/3PX3eQf.jpg" style="float: right;">
      </div>
    </div>
    <div class='caption-container'>
      <p class='left-pic'>Perhaps most recently, you taught me this past summer that <b>hard work pays off</b>. Some days working on the house were a real pain in the ass but I learned SOOO much about how to "raise the rafters" (literally) and what it takes to make a house a home. Hope your new place is everything you wanted it to be!</p>
      <p class='right-pic'>So, thanks to you I have been bombing down Mt. Alyeska since before I can remember. Trips to Girdwood are always a blast and I am just glad that I am able share the mountain with such a great skiier, teacher and father. Love you dad!</p>
    </div>
    <div class='picture'id='bottom-pic'>
      <img id='sailing' width='100%' src="https://scontent-b-iad.xx.fbcdn.net/hphotos-xaf1/t31.0-8/240217_2049791613029_7318508_o.jpg" style="float: right;">
    </div>
    <div class='caption-container'>
      <p class='bottom-pic'>This one is a biggie. I cant tell you how many good times I have had at Big Lake with you and the other sailors. Being aboard as your crew, whether it be the ol' Hummginbird or the hasty Buccaneer, has taught me a good lesson in sportsmanship. As well as bragging rights to the Governor's Cup <b>TWICE!</b> After all, I am the most improved junior sailor... :)</p>
    </div>
    <div class='please-work'>
      <div class='picture' id='bottom-left-pic'>
        <img width='50%' src="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-xfa1/t31.0-8/194069_4590969100878_1689809932_o.jpg" style="float: left;">
      </div>
      <div class='picture' id='bottom-right-pic'>
        <img width='50%' src="https://scontent-a-lga.xx.fbcdn.net/hphotos-ash2/t31.0-8/170642_1748555002302_7258849_o.jpg" style="float: right;">
      </div>
      <div class='caption-container'>
        <p class='bottom-right-pic'>Last but not least, your appreciable talent in the kitchen. I have picked up a few tricks from you out on the grill front and <span> Famous Tim's Casserole</span>  is an inspiring crowd pleaser. BTW I'm pinching my nose because it smells too good to handle at such close proximity</p>
        <p class='bottom-left-pic'>My dashing good looks must come from someone...</p>
      </div>
    </div>
    <div class='picture'id='footer-pic'>
      <img id='HandE' width='100%' src="http://i.imgur.com/HDSnryA.jpg" style="float: right;">
    </div>
    <div class='caption-container'>
      <p class='footer-pic'>There you have it father, you truely are a great role model and cannot wait to see you next. I am out here putting in work, meeting new people, doin what I love and getting better and better every day. I hope you enjoyed this as much as I did making it<br> - Happy Father's Day</p>
    </div>
</body>
</html>
