body{
  margin: 0;
  margin-bottom: 30px;
}
.header{
  height: 100px;
  text-align: center;
}
.header h2{
  padding-top: 25px;
  margin: 0;
}
.please-work{
  margin: 0;
}
#top-block{
  height: 500px;
  overflow: hidden;
}
.double-pic{
  display: inline-block;
}
#bottom-block{
  height: 500px;
  overflow: hidden;
  width: 100%;
}
#floating{
  margin-top: -80px;
}
#sailing{
  margin-top: -120px;
  text-align: center;
}
.container{
  width: 900px;
  margin: 0 auto;
}
img{
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\' filterRes=\'800\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
  -webkit-backface-visibility: hidden; /* Fix for transition flickering */
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
img:hover {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\' filterRes=\'800\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(0%);
}
p{
margin: 0;
}
#right-pic{
  width: auto;
}
.caption-container{
  text-align: center;
}
figure{
  margin: 0;
}


