body{
  margin: 0;
}
.header{
  height: 100px;
  text-align: center;
}
.header h2{
  padding-top: 25px;
  margin: 0;
}
.please-work{
  margin: 0;
}
#top-block{
  height: 500px;
  background-size: 90%;
  background-position: center;
  background-image: url(https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-xfa1/t31.0-8/194069_4590969100878_1689809932_o.jpg);
  background-repeat: no-repeat;
}
.double-pic{
  margin-left:5%;
  margin-right:5%;
  display: inline-block;
}
#bottom-block{
  height: 500px;
  background-size: 90%;
  background-position: center;
  background-image: url(https://scontent-b-iad.xx.fbcdn.net/hphotos-xaf1/t31.0-8/240217_2049791613029_7318508_o.jpg);
  background-repeat: no-repeat;
}
